
/* Global Styles =================================================================================================================*/
body 									{ font-family: 'Open Sans', sans-serif, Arial; font-size: 12px; background-color: #f4f4f4; color: #212529;}
.etk-blue-stat-bar   					{ width: 100%; float: left; height: 40px; background-color: #44c8f5; color:#fff; font-size: 12px; line-height: 40px; position: fixed; top:0px; } 
.etk-info-cont 							{ margin: auto; text-align: right;}
.etk-blue-stat-bar span 				{ margin-left: 20px;}
textarea:focus, input:focus 			{  outline: none; }
li 										{ list-style: none;}
a										{ color: #212529;  }
a:hover 								{ color: #44c8f5; transition: ease-in-out all .25s; }
ul 										{ margin: 0px; padding: 0px;}
label 									{ color:#333333;}
.etk-main-body 							{ margin-top: 144px;}
.etk-left-sidebar 									{ width: 194px; float: left; margin-right: 17px;}
.etk-right-sidebar 									{ width: 1015px; height: auto; float: left; }
input, select, .form-control 			{ height: 32px; border-radius: 2px; font-size: 12px; font-family:'Muli', sans-serif; border: solid 1px #dddddd !important; }
input:hover, input:focus,input:active, select:hover, select:active, select:focus { box-shadow:none !important;} 
.pd-rgt 								{ padding-right: 10px; }
.pd-lft 								{ padding-left: 10px; } 
.mr-rgt 								{ margin-right: 10px; }
.rgt-border 							{ border-right: solid 1px #efefef; }
.mr-lft 								{ margin-left: 10px; }
.no-pd 									{ padding: 0px !important;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7F7F7F;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #7F7F7F;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #7F7F7F;
}
:-moz-placeholder { /* Firefox 18- */
  color: #7F7F7F;
}
/*Leftside content=================================================================================================================*/
.etk-profile-cont 									{ width: 100%; float: left; background-color: #fff; border-radius: 2px; height: auto; padding-bottom: 32px;}
.etk-card 											{ width: 100%; float: left; background-color: #fff; height: auto; margin-bottom: 10px;}
.etk-card .header 									{ width: 100%; padding: 10px 15px; font-weight: bold; border-bottom: solid 1px #dddddd; font-size: 13px; }
.etk-card .body 									{ width: 100%;  padding: 10px; float: left; box-sizing: border-box;}

.etk-card .progressbar								{ width: 100%; float: left; border: solid 1px #dddddd; height: 20px; box-sizing: border-box; padding: 2px;}
.etk-card .progressbar .etk-progress 				{ width: 70%; float: left; height: 14px; background-color: #f3b471; }
.blue-bg 											{ width: 100%; height: 80px; float: left; background-color: #44c8f5; border-top-left-radius: 2px; border-top-right-radius: 2px; text-align: center;}
.blue-bg .pro-pic 									{ width:105px; position: relative; height: 105px; border: solid 5px #fff; border-radius: 50%; margin: auto; margin-top: 26px;}
.blue-bg .pro-pic img 								{ border-radius: 50%;}
.pro-title 											{ width: 100%; float: left; text-align: center; font-size: 14px; text-transform: uppercase; font-weight: 700; margin: 57px 0 4px; }
.etk-profile-cont p 								{ width: 100%; float: left; text-align: center; font-family:'Muli', sans-serif; margin:0px; line-height: 22px;}
 
/*Topbar=================================================================================================================*/
.search-btn i 							{ height: 42px; line-height: 40px;}
.search-btn 							{ text-align: center;  } 
.navbar 							 	{ height: 90px; background-color: #fff; margin-bottom: 14px; position: fixed; top: 40px; }
.navbar-brand img 						{ width: 100%;}
.navbar-brand 						 	{ width: 96px; float: left; margin:5px 50px 0 0;} 
.container 								{ max-width: 1230px; width: 1230px; padding: 0px;}
.etk-main-cont 							{ width: 1230px; height: auto; margin: auto; } 
.etk-search-cont  									{ width:416px; height: auto; float: left; margin-top: 17px; }
.etk-search-cont  input  							{ width:320px !important; float: left; height: 40px !important; border-top-left-radius:30px !important; border-bottom-left-radius:30px !important; padding-left: 25px !important; border: solid 1px #dddddd; font-size: 13px !important;  }
.search-btn 										{ width: 66px; height: 42px; float: left; border-top-right-radius: 30px !important; border-bottom-right-radius: 30px !important; border-top-left-radius:0px !important; border-bottom-left-radius: 0px !important;   }


.etk-login 											{ float: left; margin-top: 24px;} 
.etk-signup-nav-right input 						{ margin-bottom: 3px !important; border-radius: 2px; border:solid 1px #dddddd !important; padding-left: 10px !important; }
.etk-signup-nav-right input:focus, .etk-search-cont input:focus 					{ border-color: #44c8f5 !important;}
.etk-signup-nav-right								{ width: auto; float: right; margin-top: 9px; }
.etk-signup-nav-right span							{ width: 245px; float: left; }
.etk-forgot 										{ font-size: 11px; color:#333 !important; }
.etk-forgot:hover 									{ text-decoration: underline; cursor: pointer;}

.etk-signup-nav-right .form-group label 			{ font-family:'Muli', sans-serif; font-weight: normal;} 

.etk-pro-active 									{ width: 16px; height: 16px; position: relative; background-color: #37c837; border-radius: 50%; margin-top: -10px; cursor: pointer; }
.etk-pro-active .caret 								{ color: #fff; margin: -2px 4px 0;}

/*Buttons=================================================================================================================*/

.btn	 								{ height: 32px; border-radius: 2px; line-height: 32px !important; padding: 0px 20px; font-size: 14px; cursor: pointer;}
.btn-primary							{ background-color: #44c8f5; border-color:#44c8f5; }
.btn-primary:hover 						{ color: #fff; background-color: #44c8f5; border-color: #44c8f5; }
.btn-primary:focus, .btn-primary.focus 	{ box-shadow: none; }
.btn-primary.disabled, .btn-primary:disabled 		{ background-color: #44c8f5; border-color: #44c8f5; }

.btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active,
.show > .btn-primary.dropdown-toggle 				{ color: #fff; background-color: #44c8f5; border-color: #44c8f5; box-shadow:none; }
.etk-signup-nav-right input 						{ margin-bottom: 3px !important; border-radius: 2px; border:solid 1px #dddddd !important; padding-left: 10px !important; }
.etk-signup-nav-right input:focus, .etk-search-cont input:focus 					{ border-color: #44c8f5 !important;}
.etk-signup-nav-right								{ width: auto; float: right; margin-top: 0px; }
.etk-signup-nav-right span							{ width: 245px; float: left; }
.etk-menu-btn 										{ width: auto; height: auto; float: left; border-bottom: solid 4px #fff; text-align: center; padding: 0 14px; margin: 6px 4px 0; cursor: pointer; transition: ease-in-out all .2s;}
.etk-menu-btn:hover, .etk-menu-btn:focus			{ border-bottom: solid 4px #44c8f5;}
.etk-profile 										{ width: 52px; height: 52px; float: left; margin: 8px 0 0 15px; cursor: pointer;}
.etk-profile img 									{ border-radius: 50%; }
.not-divider 										{ width: 1px; height: 68px; float: left; background-color: #dddddd; margin: 0 8px !important; } 
.etk-menu-btn p 									{ font-size: 13px; color: #212529; margin: 3px 0 10px;}

/* Main body topbar=================================================================================================================*/

.body-topbar 										{ width: 100%; float: left; height: 40px; background-color: #fff; border-radius: 2px; margin-bottom:4px; }
.body-topbar .title 								{ width: 145px;  font-size: 16px; float: left; margin-left: 20px; line-height: 40px; }
.body-topbar .title span 							{ font-weight: bold;}
.body-topbar>i 										{ font-size: 16px; color:#a7a7a7; margin: 11px 11px 0 0; cursor: pointer;}
.etk-active 										{ color: #44c8f5 !important; }
.body-topbar .tb-right 								{ width: auto; float: right; height: auto; margin: 4px 4px 0 0; }
.body-topbar .tb-right .dropdown 					{ float: left; margin-left: 10px;}
.body-topbar .tb-right .btn 						{ float: left; line-height: 28px;}

.body-topbar .dropdown-toggle						{ width: 140px; height: 32px; float: left; border: solid 1px #dddddd; border-radius: 2px;  }
.tb-right ul 										{ width: auto; float: left; margin: 0px; padding: 0px;}

.body-topbar .dropdown-toggle, .body-topbar .btn 	{ font-family: 'Muli', sans-serif; }
.dropdown-item 										{ font-size: 13px;}
.body-topbar .dropdown-toggle::after				{ float: right; margin-top: 5px;}
.etk-mid-body-cont 									{ float: left; height: auto; margin:0 -5px 0 -5px; box-sizing: border-box;}
.job-block 											{ width: 333px; height: 246px; float: left; background-color: #fff; border-radius: 2px; margin: 4px; }
.job-block .header 									{ width: 100%; float: left; padding: 15px 15px 5px 15px; box-sizing: border-box; }
.job-logo  											{ width: 48px; height: 48px; float: left; border: solid 1px #dddddd; }
.job-titles 									   	{ width: 220px; float: left; height: auto; margin-left: 15px;}
.job-titles label 									{ width: auto; float: left; font-size:14px; font-weight: bold; line-height: 24px; margin-bottom: 0px; }
.job-titles p 										{ width: auto; float: left; font-size:12px; font-family: 'Muli', sans-serif !important; margin-bottom: 0px !important;  }
.req-skills 										{ width: 100%; float: left; font-family: 'Muli', sans-serif; line-height: 22px; margin-top: 4px; }
.job-block .status 									{ width: 100%; float: left; font-size: 10px; color: #999999; font-family:'Muli', sans-serif; margin-top: 4px;  }
.cand-stat-cont 									{ width: 100%; float: left; box-sizing: border-box; border-bottom: solid 1px #efefef; border-top:solid 1px #efefef;}
.cand-stat-cont li 									{ width: 33.3%; float: left; box-sizing: border-box; padding:7px 10px; cursor: pointer; transition: ease-in-out all .2s;}
.cand-stat-cont li p, .cand-stat-cont li label 		{ width: 100%; float: left; text-align: center; font-family:'Muli', sans-serif; margin: 0px; cursor: pointer; line-height: 26px }
.cand-stat-cont li label 							{ font-size: 24px; font-weight: normal;}
.cand-stat-cont li:hover 							{ background-color: #ebfaff; }
.orange-indicator 									{ background-color: #f3b471; color:#fff; padding: 2px 4px; font-size: 10px; position: absolute; margin: -8px 82px;}
.job-block .footer 									{ width: 100%; float: left; height: 42px; line-height: 40px;}
.job-block .footer i 								{ width: 25%; float: left; text-align: center; cursor: pointer; color:#999999; transition: ease-in-out all .2s; }
.job-block .footer i:before 						{ font-size: 18px}
.job-block .footer .flaticon-multiply:before		{font-size: 16px !important;}
.job-block .footer i:hover, .job-titles>i:hover 	{ color:#44c8f5; }
.job-titles>i 										{ position: relative; color:#999999; right: -19px; float: right; cursor: pointer; }




/*Forced styles================================================================================================*/

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {  height: 64px;  line-height:normal;}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .sidenav { box-shadow: none;}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked { position: absolute; left: -9999px; opacity: 0;}
[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
    z-index: 0;
    border: 1px solid #dddddd;
    border-radius: 1px;
    margin-top: 2px;
	transition: .5s;}

[type="checkbox"] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
	display: inline-block;}

[type="checkbox"]:not(.filled-in) + label:after {
    border: 0;
    -webkit-transform: scale(0);
	transform: scale(0);}
[type="checkbox"] + label 							{ padding-left: 19px; height: 21px; line-height: 15px; font-size: 11px; font-weight: normal;font-family: 'Muli', sans-serif;}

  
/*input, textarea, select 							{ border: solid 1px #dddddd !important; }*/
[type="checkbox"] + label:before, 
[type="checkbox"]:not(.filled-in) + label:after                 {  content: '';position: absolute;top: 0;left: 0;width: 11px;height: 11px;z-index: 0; border: 1px solid #dbdbdb; border-radius: 1px;margin-top: 2px;transition: .2s; }

[type="checkbox"]:checked + label:before                        {  top: 0px;left: 0px;width: 7px;height: 11px; border-top: 2px solid transparent; border-left: 1px solid transparent;border-right: 2px solid #44c8f5; border-bottom: 2px solid #44c8f5; -webkit-transform: rotate(40deg); transform: rotate(40deg); -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform-origin: 100% 100%; transform-origin: 65% 100%; }

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after 			{ margin-left: 0px;}
.btn, .btn-large, .btn-flat 						{ text-transform: none; }

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea { height: 32px; font-size: 12px;}
.btn:focus, .btn-large:focus,
.btn-floating:focus {
  background-color: #44c8f5;
}
.etk-signup-box .input-field.col label { left: 0px;  }

.etk-signup-box .input-field > label 			{ font-size: 13px;height: 46px;}
.etk-signup-box .input-field 					{ margin: 0px; height: 42px;}
.etk-signup-box .row 							{ margin-bottom: 10px;}

.etk-signup-box  input:not([type]), .etk-signup-box input[type=text]:not(.browser-default), .etk-signup-box  input[type=password]:not(.browser-default), .etk-signup-box  input[type=email]:not(.browser-default), .etk-signup-box input[type=url]:not(.browser-default), .etk-signup-box  input[type=time]:not(.browser-default), .etk-signup-box input[type=date]:not(.browser-default), .etk-signup-box input[type=datetime]:not(.browser-default), .etk-signup-box input[type=datetime-local]:not(.browser-default), .etk-signup-box input[type=tel]:not(.browser-default), .etk-signup-box input[type=number]:not(.browser-default), .etk-signup-box input[type=search]:not(.browser-default), .etk-signup-box textarea.materialize-textarea { border-top:none !important; border-left:none !important;border-right:none !important;}

input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {     border-bottom: 1px solid #4CAF50 !important;
    -webkit-box-shadow:none; 
     box-shadow: none; 
}

.input-field > label {
  color: #9e9e9e;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  cursor: text;
  -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  text-align: initial;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.input-field > label:not(.label-icon).active {
  -webkit-transform: translateY(-10px) scale(0.8);
          transform: translateY(-10px) scale(0.8);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly])    { border-bottom: 1px solid #44c8f5 !important; }















/*Radio Buttons======================================================================================*/

.etk-signup-box ul  		{ margin-top: 22px;}
.etk-signup-box ul li 		{ color: #AAAAAA; display: block; position: relative; float: left; width: 50%; height:auto; 
}

.etk-signup-box ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.etk-signup-box ul li label{
  display: block;
  position: relative;
  font-weight: normal;
  font-size: 1.35em; 
  height: 30px;
  z-index: 9;
	line-height: 17px;
  font-size: 14px;
	 text-align: left;
	padding-left: 30px;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}
 

.etk-signup-box ul li .check{
  display: block;
  position: absolute;
  border: 2px solid #44c8f5;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 0px;
  left:0px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}
 

.etk-signup-box ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 3px;
	left: 3px;
  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.etk-signup-box input[type=radio]:checked ~ .check {
  border: 2px solid #44c8f5;
}

.etk-signup-box input[type=radio]:checked ~ .check::before{
  background: #44c8f5;
}
.input-field .prefix.active {
  color: #44c8f5 !important;
}




/*Signup============================================================================================*/

.etk-signup-nav-right .form-control 		{ width: 234px !important;}
.etk-signup-titles label 					{ width: 100%; float: left; font-size: 24px; text-align: center; font-weight: bold; }
.etk-signup-titles p  						{ width: 100%; float: left; font-size: 20px; text-align: center; font-weight: 300; line-height: 40px; }
.etk-signup-titles 							{ width: 100%; float: left; margin-top: 30px; color: #3f3f3f; }
.etk-signup-cont 							{ text-align: center;}
.etk-signup-box 							{ width: 810px; margin:10px auto 0px; height: 529px; background-color: #fff; display: inline-block; border-radius: 4px; border-bottom: solid 2px #44c8f5;}
.etk-signup-box .left 						{ width: 289px; float: left; height: 528px; background-image:url(../images/ad.png); background-repeat: no-repeat; border-top-left-radius: 2px; border-bottom-left-radius: 2px; }
.etk-signup-box .left p 					{ width: 100%; float: left; text-align: center; font-size: 16px; font-weight: 300; margin-top: 44px; line-height:28px; }
.etk-signup-box .left label					{ width: 100%; float: left; text-align: center; font-size: 16px; font-weight: bold; line-height:28px; }
.etk-signup-box .right 						{ width: 456px; float: left; margin: 0px 28px 0 37px; }


/*.etk-signup-box .input-field > label 		{ top: 30px;}*/
.signup-field input							{ border: 0px !important;}
.signup-field 								{ border-bottom: solid 1px #dddddd; }
.etk-signup-box form, .etk-signup-box ul  	{ width: 100%; float: left; height: auto;}

.etk-signup-form-cont 						{ width: 100%; float: left;}
 
.etk-terms 									{ float: right;}
.etk-agree 									{ width: 100%; float: left;}
.etk-agree [type="checkbox"] + label 		{ float: left;}
.signup-btn 								{ width: 100%; height: 40px; line-height: 40px; font-weight: bold; font-size: 16px; cursor: pointer; border-radius: 2px; }
.or-login 									{ width: 100%; float: left; text-align: center; line-height: 42px; margin-bottom: 0px;}

.etk-social-media-cont 						{ width: 100%; float: left; border: solid 1px #dddddd; height: 40px; box-sizing: border-box;}
.etk-social-media-cont span 				{ width: 33.3%; float: left; height: 40px; cursor: pointer;}

.etk-social-media-cont span i:before 		{ font-size: 18px; line-height: 36px;}
.etk-facebook 								{ color:#475993;}
.etk-linkedin 								{ color:#007aaa;}
.etk-googleplus 							{ color:#f34a38;}
.etk-facebook:hover 						{ background-color:#475993; color:#fff; transition: ease-in-out all .25s;}
.etk-linkedin:hover 						{ background-color:#007aaa; color:#fff; transition: ease-in-out all .25s;}
.etk-googleplus:hover 						{ background-color:#f34a38; color:#fff; transition: ease-in-out all .25s;}
.etk-terms span 							{ font-weight: 600 !important;}





